@font-face {
    font-family: quicksand;
    src: url("Quicksand-Regular.ttf");
}

body{
    font-family: quicksand;
    margin: 0;
}
a{
    cursor: pointer;
}
i{
    cursor: default;
}

/*StartMenu*/
#pongvr-background{
    position:fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-image: url("../PongVRBackground2.jpg");
    background-size:cover;
}

#titlescreen{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#pong-vr-title{
    text-align: center;
    font-family: quicksand;
}
@media (min-width: 50em){
    #pong-vr-title{
        font-size: 5vw;
        padding: 0.3em;
    }
}
@media (max-width: 50em){
    #pong-vr-title{
        font-size: 10vw;
        padding: 0;
    }
}
#vr-mode-select{
    height: 100%;
    display: flex;
    overflow: hidden;
    padding: 3em  4em;
}
.startMenu{
    width: 100%;
    max-width: 1300px;
    padding: 0 2em;
    margin: 0 auto;

    border-radius: 3%;
    background-color: rgba(255, 255, 255, 0.8);
    overflow-y: scroll;
    
    text-align: left;
    font-family: serif;
    font-size: 15pt;
}
.menu-option{
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}